# npm config get registry 查看当前 npm 配置中使用的包管理仓库地址
# 如果输出是 https://registry.npmmirror.com/ 或其他非官方的 URL，则说明你当前使用的是镜像源或者私服。
# 官方：https://registry.npmjs.org

registry=https://registry.npmmirror.com/ # pnpm i 安装依赖会很慢，可以暂时改成淘宝镜像源，安装完后再改回来